@{
    ViewData["Title"] = "Home Page";
}

<h3> Paso 1: Obtener el codigo de autorizacion</h3>
<div class="card text-center">
    <div class="card-header">
        Obtener el codigo de autorizaion
    </div>
    <div class="card-body">
        <p>
            Este cliente redirige al usuario hacia el servidor
            de autorizacion para que iniciar sesion y consentir los 
            permisos que le estamos solicitando.
        </p>
        <p>
            <a class="btn btn-primary" href="/get/the/authorization/code">
                Ir al Servidor de Autorizacion</a>
        </p>
    </div>
</div>